{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Deuda{% endblock %}

{% block css %}
    <style>
        body {padding-top: 4.5rem;}
        .jumbotron {padding: 2rem 2rem;}
    </style>
{% endblock css %}

{% block content %}
    {{mydata}}

    <!-- <div class="container"></div> -->
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col col-sm-12 col-md-9 col-lg-10">
            <table class="table" id="tableResult">
                <thead>
                    <th>Cliente</th>
                    <th style="text-align: center">Comprobante</th>
                    <th style="text-align: center">Fecha</th>
                    <th style="text-align: right">Total</th>
                    <th style="text-align: center">Vencida</th>
                </thead>
                <tbody>
                    {% include 'deuda/include/cargar_resultado.html' %}
                </tbody>
            </table>
            <div id="cargando" align="center"></div>
        </div>
        <div class="col col-sm-12 col-md-3 col-lg-2" style="padding: 10px; background-color: gainsboro;">
            {% include 'deuda/formulario.html' %}
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        var mydataString = "{{json_data|escapejs}}";
        var venId
        var cliId

        if(mydataString != '') {
            venId = JSON.parse(mydataString)['vendedor'];
            cliId = JSON.parse(mydataString)['cliente'];
        }

        cargar_vendedores(venId);
        if (venId != null) {
            cargar_clientes(venId, cliId);
        }
    });

    function cargar_vendedores(venId) {
        let urlPath = '{% url 'gestion:cargar_vendedores_ajax' %}';

        $.ajax({
            url: urlPath,
            success: function(response) {
                $('#vendedorSelect').html(response);
                if (venId != null) {
                    $("#vendedorSelect").val(venId);
                }
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    }

    $('#vendedorSelect').change(function() {
        let ufId = $(this).val();
        cargar_clientes(ufId);
    });

    function cargar_clientes(venId, cliId) {
        let urlPath = '{% url 'gestion:cargar_clientes_ajax' %}';

        $.ajax({
            url: urlPath,
            data: {uf: venId},
            success: function(response) {
                $('#clienteSelect').html(response);
                if (cliId != null) {
                    $("#clienteSelect").val(cliId);
                }                
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        })
    }

    $(document).on('click', '.result', function(event) {
        let venId = $('#vendedorSelect').val();
        let cliId = $('#clienteSelect').val();
        cargar_tabla(venId, cliId);
    });

    function cargar_tabla(venId, cliId) {
        let urlPath = '{% url 'gestion:cargar_resultado_ajax' %}';

        $("#tableResult tbody").empty();
        $('#cargando').text('Cargando datos ...');

        $.ajax({
            url: urlPath,
            data: {ven: venId, cli: cliId},
            success: function(response) {
                $('#cargando').empty();
                $('#tableResult tbody').append(response);
            },
            complete : function() {
                // alert(this.url);
            },
            error: function(xhr, status, error) {
                $('#cargando').empty();
                alert(xhr.responseText);
            }
        });
    }
</script>
{% endblock js %}