{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Deuda{% endblock %}

{% block css %}
    <style>
        body {padding-top: 4.5rem;}
        .jumbotron {padding: 2rem 2rem;}
    </style>
{% endblock css %}

{% block content %}
    <!-- <div class="container"></div> -->
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col col-sm-12 col-md-9 col-lg-10">
            <table class="table" id="tableResult">
                <thead>
                    <th>Cliente</th>
                    <th style="text-align: center">Asiento</th>
                    <th style="text-align: right">Total</th>
                    <th style="text-align: center">Días</th>
                </thead>
                <tbody>
                    {% include 'deuda/include/cargar_resultado.html' %}
                </tbody>
            </table>
            <div id="cargando" align="center"></div>
        </div>
        <div class="col col-sm-12 col-md-3 col-lg-2" style="padding: 10px; background-color: #e9ecef;">
            {% include 'deuda/formulario.html' %}
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        let urlPath = '{% url 'gestion:cargar_vendedores_ajax' %}';

        $.ajax({
            url: urlPath,
            success: function(response) {
                $('#vendedorSelect').html(response);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });
        event.preventDefault();
    });

    $('#vendedorSelect').change(function() {
        let urlPath = '{% url 'gestion:cargar_clientes_ajax' %}';
        let ufId = $(this).val();

        $.ajax({
            url: urlPath,
            data: {uf: ufId},
            success: function(response) {
                $('#clienteSelect').html(response);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        })
        event.preventDefault();
    });

    $(document).on('click', '.result', function(event) {
        let urlPath = '{% url 'gestion:cargar_resultado_ajax' %}';
        let venId = $('#vendedorSelect').val();
        let cliId = $('#clienteSelect').val();

        $("#tableResult tbody").empty();
        $('#cargando').text('Cargando datos ...');

        $.ajax({
            url: urlPath,
            data: {ven: venId, cli: cliId},
            success: function(response) {
                $('#cargando').empty();
                $('#tableResult tbody').append(response);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });
        event.preventDefault();
    });
</script>
{% endblock js %}