{% extends "layout/base.html" %}

{% block content %}
<form id="myForm" 
      data-urlcities="{% url 'ctactecli:cities_choices_ajax' %}"
      method="GET" role="form">
    <div class="form-row">
        <div class="col"></div>
        <div class="col">
            <label for="inputState">Comercial</label>
            <select name="comercial_id" class="form-control">
                {% for vendedor in vendedores %}
                    <option value="{{vendedor.idvendedor}}">{{vendedor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="inputState">Cliente</label>
            <select name="cliente_id" class="form-control">
                {% for cliente in clientes %}
                    <option value="{{cliente.idcliente}}">{{cliente.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary float-right">Filtrar</button>
</form>
{% endblock %}
