{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
    {% include 'ctactecliresu/filtro.html' %}
    <div class="row">
        <h2 style="text-align:left">Cliente: {{object_list.0.NOMBRE}}</h2>
    </div>
    <div class="row">
        <h3 style="text-align:left">
            Saldo:
            {% with object_list|last as last %}
                {{ last.Saldo|intcomma }}
            {% endwith %}
        </h3>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Fecha</th>
                    <th>Comprobante</th>
                    <th>Importe</th>
                    <th>Saldo</th>
                    <th>Días</th>
                </tr>
                <!-- class="danger" -->
                {% for object in object_list %}
                <tr>
                    <td>{{object.Fecha}}</td>
                    <td>{{object.TipoComprob}} {{object.Letra}} {{object.Terminal|stringformat:"04d"}}-{{object.Numero|stringformat:"08d"}}</td>
                    <td>{{object.Importe|intcomma}}</td>
                    <td>
                        {% if forloop.last %}
                            <b>{{object.Saldo|intcomma}}</b>
                        {% else %}
                            {{object.Saldo|intcomma}}
                        {% endif %}
                    </td>
                    <td>{{object.Dias}}</td>
                </tr>
                {% endfor %}
            </table>

            {# paginación #}
            {# include 'layouts/pagination.html' #}
        </div>
    </div>
{% endblock %}
