{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Roberto West">
        <meta name="description" content="">

        <title>{% block title %}Lubre SRL{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
        <!-- Font-awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dataTables/dataTables.bootstrap4.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'twitter-bootstrap/bootstrap.css' %}">
        <!-- Bootstrap Glyph Icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css' %}">

        {% block css %}
        {% endblock css %}

        <!-- Custom styles for this template
        <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
        <style>
            body {
            padding-top: 3.5rem;
            }
        </style>
        -->
    </head>
    <body>
        {% block navbar %}
            {% include "layout/navbar-empty.html" %}
        {% endblock %}

        <!-- contenido -->
        <main role="main">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dataTables/jquery.dataTables.min.js' %}"></script>

        {% block js %}
        {% endblock js %}
    </body>
</html>