{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Acciones{% endblock %}

{% block css %}
    <style>
        body {padding-top: 2rem;}
        .jumbotron {padding: 1.5rem 2rem;}
    </style>
{% endblock %}

{% block navbar %}
    {% include "accion/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>{{ctacte.0.idcliente.fantasia}}</h2>
        <div class="offset-md-11 col-md-1">
            <a href="{% url 'gestion:cargar_clientecta' ctacte.0.idenc_mov %}" class="btn btn-dark pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Regresar
            </a>
        </div>            
    </div>
    <div class="container">
        <div class="row">
            <table class="table bordered">
                <thead>
                    <tr>
                        <th>Comprobante</th>
                        <th>Fecha</th>
                        <th>Vencimiento</th>
                        <th style="text-align: right">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reg in ctacte %}
                    <tr>
                        <td>
                            {{reg.tipocomprob}} {{reg.letra}} {{reg.terminal|stringformat:"04d"}}-{{reg.numero|stringformat:"08d"}}
                        </td>
                        <td>{{reg.fecha|date:'d M Y'}}</td>
                        <td>{{reg.vence|date:'d M Y'}}</td>
                        <td style="text-align: right">{{reg.importe|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr style="background-color: black; height: 2px; border: 0;">
        <div class="row">
            <div class="col-md-11">
                <table class="table bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Observación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="display:none"><td></td></tr>
                        {% for object in object_list %}
                        <tr>
                            <td>{{object.fecha|date:'d M Y'}}</td>
                            <td>{{object.get_tipo_display}}</td>
                            <td>{{object.observacion}}</td>
                            <td>
                                <a href="{{object.get_update_url}}" class="text-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                &nbsp;
                                <a href="{{object.get_delete_url}}" class="text-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>

                                -
                                <a id="do-confirm" href="#" class="text-danger" data-url="{{object.get_eliminar_url}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary" href="{% url 'gestion:accion_nuevo' filter %}">
                    Nueva acción
                </a>
            </div>
        </div>
        {% comment %}
        <hr style="background-color: black; height: 2px; border: 0;">
        <div class="row justify-content-center">
            <div class="col-md-1 align-self-center">
                <button type="button" class="btn btn-dark pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Regresar
                </button>
            </div>            
        </div>
        {% endcomment %}
    </div>

    {% include "mybsmodals/confirm.html" %}
{% endblock content %}


{% block js %}
<script>
    $(document).ready(function() {

    $('#do-confirm').click(function() {
        var url = $("#do-confirm").attr("data-url");

        bsmodals_confirm('Eliminación', '¿Confirma eliminación del registro?', function(result) {
            if( result ) {
                // console.debug('Usted eligió Sí');
                document.location.href = url;
            }
            else {
                console.debug('Usted eligió No');
            }
        });
    });

    });
</script>
{% endblock js %}